.header__main-logo {
  font-family: 'Syne Mono', monospace;
  margin: 0;
  padding: 0;
  font-size: 1.75em;
  margin-left: 1em;
}

.header__nav-menu {
  margin-right: 3em;
}

.header__nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  list-style: none;
}

.header__nav-list-item:not(first-of-type) {
  margin-left: 1em;
  font-size: 1.5em;
  font-weight: 700;
}

.header__nav-list-item {
  transition: 0.33s;
}

.header__nav-list-item:hover {
  cursor: pointer;
  color: rgb(154, 228, 43);
}

.header__nav-list-item:active {
  transform: scale(0.95, 0.95);
}

.active {
  color: rgb(154, 228, 43);
  text-decoration: underline;
}

.bi-lightbulb-off,
.bi-lightbulb-fill,
.bi-menu-button-wide {
  font-size: 24px;
}